<div class= "container">

<div id="<%= dom_id article %>">

  <p>
    <strong>Descripcion:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= article.price %>
  </p>

</div>
</div>