<div class= "container">

  <h1 class= "text-center">Editando Articulo</h1>
   <%= render "form", article: @article %>
   <br>
  <div>
   <%#= link_to "Show this article", @article, class: "badge rounded-pill text-bg-primary" %> 
   <%= link_to "Atras...", articles_path, id: "btns-main", class: "btn rounded-pill text-bg-primary" %>
  </div>
</div>