<p style="color: green"><%= notice %></p>

<h1 class= "text-center">Articulos</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
      <div class= "container">
        <p>
          <%= link_to "ver mas...", article, id: "btns-principales", class: "btn rounded-pill" %>
        </p>
      </div>
   <% end %>
</div>

<%#= link_to "New article", new_article_path %>
