<div class= "container">

  <h1 class= "text-center">Crea Tu Articulo</h1>

  <%= render "form", article: @article %>
  <br>
  <div>
     <%#= link_to "Ver Otros Articulos", articles_path %>
  </div>
</div>