<div class: "front-page">
  <%= image_tag "portada.png", class: "img-frontpage", align: "left" %>
  <div>
    <h2> Buy Cart </h2>
    <p> Comprame !!! </p>
    <p> Vendeme !!!</p>
    <p> Haz tus compras y ventas </p>
    <p> Mas Entretenida... </p>
  </div>
</div>



